* {
    box-sizing: border-box;
}

body {
    margin:0;
    justify-content: center;
    align-items: center;
    
}

header {
    background-color: #1F2937;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap:15%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    justify-content: center;
    margin: 8px;
}

header ul {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

.row1 {
    display:flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}

.presentation {
    padding: 120px;
}

.forest {
    max-width: 50%;
    max-height: 50%;
    display: flex;
    margin-right: 120px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color:#3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    min-width: 35%;
    min-height: 50px;
    
}

.row2 {
    display:flex;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.title {
    align-items: center;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.itemcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 50px;
}

.descritree {
    text-align: center;
}


